@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

* {
    margin: 0 auto;
    padding: 0 auto;
}

header {
    max-height: 83.14px;
    border-bottom: 1px solid #CED2DA;
}

.lcontainer {
    max-width: 960px;
    max-height: 39.14px;
    margin-top: 22px;
    margin-bottom: 22px;
}

.logo-container {
    display: flex;
}

.header-ul {
    display: flex;
    gap: 32px;
    margin-top: 7.57px;
    margin-bottom: 7.57px;
}

.header-li>img {
    max-width: 111px;
    max-height: 24px;
    gap: 16px;
}

.header-nav {
    margin: 0;
    display: flex;
}

.header-li {
    list-style: none;
}

.exit-btn {
    margin-right: 0;
    max-width: 91px;
    max-height: 24px;
    display: flex;
    margin-top: 7.57px;
    margin-bottom: 7.57px;
}

.main-container{
    margin-top: 36.86px;
    width: 1440;
    height: 620px;
}

.filmscontainer {
    max-width: 960px;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filmscontainer>img {
    width: 298.67px;
    height: 300px;
    gap: 16px;
    border-radius: 8px;
}

h2{
    font-family: Inter;
}

