* {
    margin: 0;
}

.filmscontainer{
    width: 960px;
    height: 500px;
    display: flex ;
    flex-direction: row;
    justify-content: space-between;
}

.filmscontainer>img{
    width: 298.67px;
    height: 300px;
    border-radius: 8px;
}